@charset "UTF-8";

#main{padding: 102px 5% 200px;}
.cd_oneclm-whole{width: 100%;max-width: 1400px;min-width: 1000px;display: block;margin: auto;}
.cd_works-whole{width: 100%;max-width: 1400px;min-width: 1000px;background: #fff;border-radius: 0 0 6px 6px;margin: 0 auto 40px;position: relative;display: -webkit-flex;display: flex;}
.cd_works-mainclm{-webkit-flex: 1;flex: 1;box-shadow: 2px 0 3px rgba(0,0,0,0.2);padding: 0 15px 25px;}
.cd_works-title{padding: 15px 0 0;word-break: break-all;}
.cd_dtl_data{color: #999;}
.cd_dtl_data span{color: #F824B4;}
.cd_dtl_cap {color: #6a6a6a;margin: 25px 0;line-height: 1.4;}
.cd_button-box{display: -webkit-flex;display: flex;justify-content: flex-end;align-items: flex-end;margin-top: 30px;}
.cd_button-box a{color: #d8d8d8;text-decoration: none;}
.cd_button-box a:hover{color: #1e7cbd;}
.cd_button{box-sizing: border-box;margin-right: 8px;}
.cd_button .fa{font-size: 20px;}
.cd_button.dl .fa {font-size: 35px;margin-right: 5px;margin-bottom: -3px;}
.cd_button_other .fa{color: #D8D8D8;font-size: 26px;vertical-align: sub;}
.cd_button_other .fa:hover{color: #1e7cbd;}
.cd_button-box > div{position: relative;}
.cd_more_menu{position: absolute;right: 0;top: 35px;width: 220px;z-index: 1000;font-size: 14px;}
.cd_more_menu li{background: rgba(0, 0, 0, 0.8);margin-bottom: 2px;}
.cd_more_menu li:hover{background: rgba(50, 50, 50, 0.8); }
.cd_more_menu li a{color: #fff;text-decoration: none;display: block;padding: 6px 10px;}
.cd_sub-head{box-sizing: border-box;background: #666 linear-gradient(to right, #444, #666);color: #fff;height: 30px;line-height: 30px;padding-left: 30px;margin-top: 20px;}
.cd_sub-head a{color: #fff;}
.cd_side-sub-head{background: none;height: 30px;line-height: 30px;padding-left: 10px;border-top: 1px #ccc solid;margin-top: 20px;}
.cd_side-sub-head a{color: #444;}
.cd_side-sub-head span {display: inline-block;margin-left: 10px;}
.cd_user-box {padding: 10px;border: 1px #ccc solid;margin: 20px 0;display: -webkit-flex;display: flex;}

.cd_user-icon{
    display: block;
    background: center;
    background-image: none;
    background-size: auto auto;
    background-size: cover;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 15px;
}

.cd_user-box-main{
    -webkit-flex: 1;
    flex: 1;
}

.cd_user-name{
    font-size: 16px;
}

.cd_user-link-works{
    font-size: 9px;
    background: #2d95e0;
    color: #fff;
    border-radius: 20px;
    padding: 2px 6px 1px;
    display: inline-block;
    vertical-align: text-bottom;
    text-decoration: none;
    margin-left: 5px;
}

.cd_user-link-works:hover{
    background: #53aff1;
    text-decoration: none;
    color: #fff;
}

.cd_user-comment{
    background: #fff;
    height: 30px;
    padding: 0 100px 0 10px;
    position: relative;
    box-shadow: 3px 3px 0 rgba(0,0,0,0.2);
    border: 1px solid #2096EA;
    z-index: 10;
}

.cd_user-comment::before {
    content: "";
    display: block;
    position: absolute;
    border-right: 14px solid #2096EA;
    border-top: none;
    border-bottom: 14px solid transparent;
    left: -15px;
    top: -1px;
    z-index: -1;
}

.cd_user-comment::after {
    content: "";
    display: block;
    position: absolute;
    border-right: 20px solid #fff;
    border-top: none;
    border-bottom: 20px solid transparent;
    left: -12px;
    top: 0px;
    z-index: 2;
}

.userbar-more{	/* ソース内に書いてあるスクリプトでも「.userbar-more」が使われていたので変更していません */
    cursor: pointer;	/* ←ポインターの形を変えたいだけ */
}

.cd_user-comment p{
    line-height: 30px;
    text-overflow: ellipsis;
    overflow: hidden;
    height:30px;
}

.cd_user-box-follow{
    align-self: flex-end;
    padding-left: 30px;
}

.cd_rel-movie-list{
    padding: 10px 30px 20px;
}

.cd_rel-movie-list li{
    overflow: hidden;
    margin-top: 20px;
}

.rel-works-list li:hover .rel-works-author{
    margin-bottom: 19px;
}

#_commentBox{
    margin-top: 30px;
}

a.cd_user-name:visited{
    color: #1e7cbd;
}

a.cd_user-link-works:visited{
    color: #fff;
}

.cd_works-collabo-author{
    margin-bottom: 5px;
    padding: 5px 0;
    font-size: 14px;
    word-break: break-all;
}

.cd_works-collabo-author span{
    color: #F824B4;
}

.cd_works-collabo-author img{
    margin-right: 4px;
}

.cd_user-comment.expand{
    position: absolute;
    height: auto;
    max-width: 800px;
    padding-bottom: 10px;
}

.cd_user-comment.expand p{
    line-height: 1.6;
    padding: 5px 0;
    max-width: none;
    white-space: inherit;
    height: auto;
    word-break: break-all;
    padding: 30px;
    max-height: 500px;
    overflow-y: scroll;
}

.cd_button.liked{
    color: #ff23a5;
}

.clb .cd_user-comment{
    border: 1px solid #F255A3;
}

.clb .userbar-more {
    color: #F255A3;
    border: 1px solid #F255A3;
}

.clb .cd_user-comment::before{
    border-right: 14px solid #F255A3;
}

.clb .cd_user-link-works {
    background: #f255a3;
}

.clb .cd_user-link-works:hover{
    background: #fb80bd;
}
.w100 {width:100%;}

.movie-tagedit .lock:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 8px;
    background: url(../images/icon16.png) no-repeat 0 -140px;
    width: 20px;
    height: 20px;
}

.movie-tagedit input {
    width: 180px;
    position: relative;
    top: 2px;
    padding: 3px;
}

/* TEXT =========================  */
.rel-edit_text {
    display: block;
    width: 70px;
    height: 70px;
    overflow: hidden;
    background: #fffff8;
    border: 1px solid #DBD7A7;
    -moz-box-shadow: 0 0 20px #f6eed7 inset;
    -webkit-box-shadow: 0 0 20px #f6eed7 inset;
    box-shadow: 0 0 20px #f6eed7 inset;
}

.rel-edit_text div {
    padding: 2px;
}

a.rel-edit_text {
    color: #684D37;
}

a.rel-edit_text:hover {
    text-decoration: none;
}

.rel-edit_text .opening {
    font-size: 80%;
    height: 90px;
    overflow: hidden;
    line-height: 1.7;
    background: url(../images/bg_thumb_txt.png) no-repeat left top;
    word-break: break-all;
    word-wrap: break-word;
}

.rel-edit_text .title {
    font-weight: bold;
    margin-bottom: 2px;
    overflow: hidden;
    word-break: break-all;
    word-wrap: break-word;
}
.rel-edit_ill { width: 70px; height: 70px; display: block; background-color: #eee; background-repeat: no-repeat; background-position: center center; background-size: contain; position: relative; }
.rel-edit_title { width: 100%;text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.rel-edit_music-hz {width: 70px;height: 46px;display: block;background-color: #eee;background-repeat: no-repeat;background-position: center center;border-radius: 6px;box-shadow: 1px 1px 1px rgba(0,0,0,0.3);position: relative;}
/*.rel-edit_music-vt { width: 47px; height: 75px; margin: 0 28px; display: block; background-color: #eee; background-repeat: no-repeat; background-position: center center; border-radius: 6px; box-shadow: 1px 1px 1px rgba(0,0,0,0.3); position: relative;}*/
.rel-edit_music-vt {width: 47px;height: 75px;margin: 0 12px;display: block;background-color: #eee;background-repeat: no-repeat;background-position: center center;border-radius: 6px;box-shadow: 1px 1px 1px rgba(0,0,0,0.3);position: relative;}
.rel-edit_music a { text-decoration: none; }
.rel-edit_music:before { font-family: 'FontAwesome'; content: '\f001'; font-size: 20px; position: relative; left: 5px; top: 5px; color: #000;}
.toolbox {position: fixed;left: 0;top: 55px;z-index: 100;font-size: 1.2em;}
li.reply { padding-left: 50px; }
.sns_btn {margin-left: 10px;width: 120px;height: 40px;text-align: center;color: #FFFFFF;-moz-border-radius: 4px;-webkit-border-radius: 4px;border-radius: 4px;line-height: 40px;}
.sns_btn:after			{clear:both;}
.sns_btn .sns_icon		{float: left;width: 40px;height: 40px;box-sizing: border-box;}
.sns_btn .sns_txt		{float: left;width: 70px;}
.sns_bg_tw				{background-color:#5AABF3;}
.sns_bg_fb				{background-color:#39569C;}
.sns_bg_gg				{background-color:#D94F34;}
.sns_bg_ln				{background-color:#00C300;}
.sns_bg_tw .sns_icon_tw {padding-top: 5px;border-right: 1px solid #5A9BF3;}
.sns_bg_fb .sns_icon_fb	{padding-top: 6px;border-right: 1px solid #39469C;}
.sns_bg_gg .sns_icon_gg	{padding-top: 5px;border-right: 1px solid #D93F34;}
.sns_bg_ln .sns_icon_ln	{padding-top:0px; border-right:1px solid #00B300;}
.sns_icon > i {font-size:2.5em;}
.long-box { margin: 20px 0 0 20px; }

/* 関連する動画・作品の編集ボックス用 */
.datafolder li {padding: 10px 20px 10px 2px;display: block;word-break: break-word;border-top: 1px dotted #ccc;position: relative;}
.datafolder li:last-child {border-bottom: 1px dotted #ccc;}
.popup-title-sub {font-size: 16px;font-weight: bold;color: #f39;margin: 30px 0 0 0;}
.popup-title-sub:first-of-type {margin-top: 0;}
.movie_box{display: -webkit-flex;display: flex;}
.movie_box_left > a{display: inline-block;vertical-align: middle;}
.movie_box_left .lock{display: inline-block;width: 17px;}
.movie_box_right {padding-left: 20px;}
.movie_box_right .title .fa{margin-right: 4px;}
.movie_box .author {color: #999;margin-bottom: 3px;}
.movie_type{color: #999;margin-bottom: 3px;}
