@charset "utf-8";

/*===============================================
最大でサムネ7列表示
===============================================*/
@media screen and (min-width: 1650px){

#index_box { width:1546px; padding-left:0; padding-right:0; }
#index_main { width:1216px; margin-right:0;}
#main { max-width:none !important; }
#index_main .tag_box { margin:20px auto 10px;}
.fixed_center { max-width:none;} 
}


/*===============================================
最大でサムネ6列表示
===============================================*/
@media screen and (max-width: 1650px){ /* min-width:1475px */

#index_box { width:1371px;  padding-left:0; padding-right:0;}
#index_main { width:1041px; margin-right:0;}
#index_main .tag_box { margin:20px auto 10px;}
.fixed_center { max-width:none;}
}
/*===============================================
サムネ5列表示
===============================================*/
@media screen and (max-width: 1475px){

#index_box { width:1196px;}
#index_main { width:866px; margin-right:0;}
#index_main .tag_box { margin:20px auto 10px;}
}

/*===============================================
サムネ4列表示
===============================================*/
@media screen and (max-width: 1295px){

#index_box { width:1021px;}
#index_main { width:691px; margin-right:0;}
.loadingbox { min-width:691px; }

}

/*===============================================
サムネ3列表示
===============================================*/
@media screen and (max-width: 1118px){

#index_box { width:846px;}
#index_main { width:516px;}
.loadingbox { min-width:516px; }

}
